.textarea {
    box-sizing: border-box;
    padding: 0.6rem 1rem;
}
.rounded {
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
}
.center {
    text-align: center;
    padding: 0.35rem 1rem;
}
.bold {
    border-color: #000;
}
