.user-tools {
    & .tool-extend {
        position: relative;
        margin-right: 3rem;
        & .tools {
            position: absolute;
            display: none;
            width: 16rem;
            right: 0rem;
            background-color: #fff;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            border-radius: 1rem;
            & .tool-item {
                line-height: 2rem;
                color: aqua;
            }
        }
        &:hover {
            color: #2041ff;
            & .tools {
                display: block;
            }
        }
    }
}
